/* TeamsList.css */

.teamsListContainer {
    background-color: #7B78FE; /* Color verde claro */
    padding: 16px;
    border-radius: 15px;
    width: fit-content;
    text-align: left;
    position: relative;
    width: 95%;
    margin-right: 100px;
}

.teamsTitle {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    font-weight: bold;
    font-size: 1.5em;
    padding: 4px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    position: absolute;
    top: -12px;
    left: -15px;
}

.teamsList {
    color: #ffffff; /* Texto azul */
    font-size: 1.5em;
    margin-top: 0.7em;

}

.teamsItem {
    color: #fff;
    text-decoration: underline;
}

.teamsItem:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
